@(theForm: Form[models.User], action: Call)(extraContent: Html)

@import helper._
@import helper.twitterBootstrap._

@form(action) {
  @inputText(
    theForm("username"),
    args = 'size             -> 16,
           'id               -> "username",
           '_label           -> "Username",
           '_showConstraints -> false,
           '_placeholder     -> "user name"
  )

  @inputPassword(
    theForm("password"),
    args = 'size             -> 16,
           'id               -> "password",
           '_label           -> "Password",
           '_showConstraints -> false,
           '_placeholder     -> "password"
  )

  @inputPassword(
    theForm("password_confirmation"),
    args = 'size             -> 16,
           'id               -> "password-confirmation",
           '_label           -> "Password (again)",
           '_showConstraints -> false,
           '_placeholder     -> "password (again)"
  )

  @inputText(
    theForm("first_name"),
    args = 'size             -> 16,
           'id               -> "first-name",
           '_label           -> "First name",
           '_showConstraints -> false,
           '_placeholder     -> "first name"
  )

  @inputText(
    theForm("last_name"),
    args = 'size             -> 16,
           'id               -> "last-name",
           '_label           -> "Last name",
           '_showConstraints -> false,
           '_placeholder     -> "last name"
  )

  @inputText(
    theForm("email"),
    args = 'size             -> 16,
           'id               -> "email",
           '_label           -> "Email address",
           '_showConstraints -> false,
           '_placeholder     -> "email address"
  )

  @checkbox(
    theForm("isAdmin"),
    args = 'id               -> "is-admin",
           '_label           -> "Administrator"
  )

  @extraContent
}
