@(editUser: User, currentUser: User, editForm: Form[models.User])(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@head = {
  <script src="@routes.Assets.at("javascripts/users.min.js")"></script>
}

@main("Edit User", additionalHead = Some(head), currentUser = Some(currentUser)) {

  <div class="span12">
    @form_errors(editForm)
    @back(routes.UserController.index(), "Back")

    <div id="edit-user-form" class="well">
      <div class="heading">Edit user @editUser.username</div>

      @form(action = routes.UserController.update(editUser.id.get)) {
        @inputText(
          editForm("username"),
          args = 'size             -> 16,
                 'id               -> "username",
                 '_label           -> "Username",
                 '_showConstraints -> false,
                 '_placeholder     -> "user name"
        )
        @inputPassword(
          editForm("password"),
          args = 'size             -> 16,
                 'id               -> "password",
                 '_label           -> "Password",
                 '_showConstraints -> false,
                 '_placeholder     -> "password"
        )
        @inputPassword(
          editForm("password_confirmation"),
          args = 'size             -> 16,
                 'id               -> "password-confirmation",
                 '_label           -> "Password (again)",
                 '_showConstraints -> false,
                 '_placeholder     -> "password (again)"
        )
        @checkbox(
          editForm("isAdmin"),
          args = 'id               -> "is-admin",
                 '_label           -> "Administrator"
        )
        <input type="hidden" name="id" value="@editUser.id"/>

        <div id="buttons">
          <button class="btn btn-primary">Save</button>
        </div>
      }
    </div>
  </div>
}
