@(currentUser: User)(implicit flash: Flash)

@import tags._

@head = {
  @scriptAsset("javascripts/users.min.js")
}

@main("Admin", additionalHead = Some(head), currentUser = Some(currentUser)) {
  <div id="admin">
    <div class="span2">
      <div class="sidebar well">
        <img src="@routes.Assets.at("images/loading.gif")"
             id="loader" style="display:none">
        <header>Actions</header>
        <ul class="actions">
          <li>
            <a id="list-users" href="javascript:void(0)"
               data-url="@routes.UserController.list()">List all users</a>
          </li>
          <li>
            <a id="new-user"
               href="@routes.UserController.makeNew()">New user</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="span10">
      <!-- User display -->
      <div id="current-user" data-id="@currentUser.id.get" style="display:none"></div>
      <table id="users"
             class="table table-hover table-bordered captioned-table"
             style="display:none">
        <caption>Users</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Administrator?</th>
            <th>Actions</th>
          </tr>
          <!--
            When handling the AJAX query for the list of users, the Javascript
            clones this element for each user, appending it to the table. This
            template must be here, rather than the <tbody>, because the <tbody>
            is cleared with every request.
          -->
          <tr id="user-template" style="display:none">
            <td class="field-value user-id"></td>
            <td class="field-value user-username"></td>
            <td class="field-value user-admin"></td>
            <td>
              <a class="edit-user-button action-button"
                 href="@routes.UserController.edit(-1)"> 
                <i class="icon-edit"></i>
              </a>
              <a class="delete-user-button action-button"
                 href="@routes.UserController.delete(-1)">
                <i class="icon-cut"></i>
              </a>
            </td>
          </tr>
        </thead>

        <tbody id="user-list"></tbody>
      </table>
    </div>
</div>
}
