@import "bootstrap/_variables";
@import "_mixins";

#admin {
  #sidebar {
    header {
      color: darken(@wellBackground, 40%);
      font-weight: bold;
      font-variant: small-caps;
      text-transform: lowercase;
      font-size: @baseFontSize + 4px;
      margin-bottom: 20px !important;
    }

    #loader {
      float: right;
    }

    #actions {
      margin-top: 10px;
      list-style-type: none;
      margin-left: 0;
    }
  }

  table#users {
    // Twitter Bootstrap border radius rounds the <thead> and the
    // <tbody>, but the caption sits above them. Since we're rounding
    // the caption top, alter what Twitter Bootstrap does with its borders.
    border-radius: 0px 0px 5px 5px;

    caption {
      background: darken(@wellBackground, 10%);
      font-weight: bold;
      font-size: @baseFontSize + 6px;
      padding-top: 10px;
      padding-bottom: 10px;

      // Top-only border radius
      border-radius: 5px 5px 0px 0px;
    }
  }
}

// Remember: This form sits outside the admin area;
#edit-user-form, #new-user-form {

  .inline-form;
  .heading-styles;
  .centered (50%);

  #buttons {
    .form-button-bar (15%);
  }
}