@import "bootstrap/_variables";
@import "_mixins";

@font: Helvetica, Arial, sans-serif;

body {
  font-family: @font;
}

.alert {
  max-width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  .brand {
    margin-left: 10px !important;

    #logo-image {
      max-height: @navbarHeight - 10px !important;
    }
  }

  .nav {
    li {
      a {
        padding-top: @navbarHeight / 2 !important;
        padding-bottom: 0 !important;
      }
    }
  }

  #logged-in-as {
    float: right;
    margin-right: 10px;
    font-size: @baseFontSize - 2px;

    .prefix {
      font-style: italic;
    }

    .username {
    }
  }
}

#content {
  margin-top: @navbarHeight + 20px;

  #login-form {
    width: 50% !important;

    margin-top: 20px;

    .inline-form;
    .heading-styles;
    .centered (50%);

    #buttons {
      .form-button-bar (15%);
    }
  }
}
