@import "bootstrap/_variables";

// LESS mixin: Inline form rules. Assumes Twitter Bootstrap helper has
// been hauled into the template.
.inline-form () {
  label {
    width: 20% !important;
    display: inline-block;
    text-align: right;
  }

  .input {
    display: inline-block;

    .help-inline {
      color: red;
    }
  }
}

@font: Helvetica, Arial, sans-serif;

body {
  font-family: @font;
}

.alert {
  max-width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  .brand {
    margin-left: 10px !important;

    #logo-image {
      max-height: @navbarHeight - 10px !important;
    }
  }

  .nav {
    li {
      a {
        padding-top: @navbarHeight / 2 !important;
        padding-bottom: 0 !important;
      }
    }
  }
}

#content {
  margin-top: @navbarHeight + 20px;

  #login-form {

    width: auto;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    .inline-form;

    .heading {
      color: darken(@wellBackground, 30%);
      font-size: @baseFontSize + 5px;
      font-weight: bold;
      width: 100% !important;
      text-align: right;
      margin-bottom: 20px;
    }

    #buttons {
      width: 15%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    }

  }
}
