@(loginForm: Form[models.User])(implicit flash: Flash)

@{/* Gets the "form" helper used below. */}
@import helper._
@import helper.twitterBootstrap._
@import tags._

@main("Login") {

  <div class="span12">

    @formErrors(loginForm)

    <div id="login-form" class="well">
      <div class="heading">Please sign in</div>

      @form(action = routes.Auth.authenticate) {
        @inputText(
          loginForm("username"),
          args = 'size -> 16,
                 'id -> "username",
                 '_label -> "Username",
                 '_showConstraints -> false,
                 'placeholder -> "your username"
        )
        @inputPassword(
          loginForm("password"),
          args = 'size -> 16,
                 '_label -> "Password",
                 '_showConstraints -> false,
                 'placeholder -> "your password")
  
        <div id="buttons">
          <button class="btn btn-primary">Login</button>
        </div>
      }
    </div>

  </div>
}
