@(title: String,
  additionalHead: Option[Html] = None,
  currentUser: Option[User] = None
)(content: Html)(implicit flash: Flash)

@import play._
@import play.mvc._
@import helper._
@import tags._

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>@title</title>

    @stylesheetAsset("stylesheets/main.css")

    @currentUser.map { u =>
      @if(u.isAdmin) {
        @stylesheetAsset("stylesheets/admin.css")
      }
    }

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    @scriptAsset("javascripts/jquery-1.7.1.min.js")
    @scriptAsset("javascripts/util.min.js")

    <!--
        Twitter Bootstrap integration. Adapted from
        https://github.com/playframework/Play20/wiki/Tips

        NOTE: With the Javascript, inclusion order matters. The order,
        below, is (currently) the same as the that used by the Twitter
        Bootstrap Makefile, when it builds "bootstrap.js".
    -->
    @stylesheetAsset("stylesheets/bootstrap.min.css")

    @Seq("transition", "alert", "button", "carousel", "collapse", "dropdown",
         "modal", "tooltip", "popover", "scrollspy", "tab", "typeahead",
         "affix").map {name =>
      @scriptAsset("javascripts/bootstrap/bootstrap-%s.min.js".format(name))
    }
    <!-- END Twitter Bootstrap integration -->

    @scriptAsset("javascripts/navbar.js")

    @additionalHead.map {html =>
      @html
    }
  </head>
  <body>
    <div class="container-fluid">

      @navbar(currentUser)

      <div id="content">
        <div id="flash">
          @Seq("info", "error").map {t =>
            @flash.data.get(t).map { message =>
              <div class="alert alert-@t">
                <a class="close" data-dismiss="alert">x</a>
                @message
              </div>
            }.getOrElse("")
          }
        </div>
        @* Used by window.flash() in util.coffee *@
        <div id="flash-template" style="display:none">
          <div class="alert">
            <a class="close" data-dismiss="alert">x</a>
            <span class="flash-message"></span>
          </div>
        </div>

        <div class="row-fluid">
          @content
        </div>
      </div>
    </div>

    <div class="modal" role="dialog" id="modal" style="display: none">
      <div class="modal-header">
        <h3 id="modal-heading"></h3>
      </div>
      <div class="modal-body" id="modal-body"></div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="modal-ok">OK</button>
        <button class="btn" id="modal-cancel">Cancel</button>
      </div>
    </div>
  </body>
</html>
