@(title: String,
  additionalHead: Option[Html] = None,
  currentUser: Option[User] = None
)(content: Html)(implicit flash: Flash)

@import play._
@import play.mvc._
@import helper._
@import controllers.admin.{routes => adminRoutes}

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    @currentUser.map { u =>
      @if(u.isAdmin) {
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.css")">
      }
    }
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <!--
        Twitter Bootstrap integration. Adapted from
        https://github.com/playframework/Play20/wiki/Tips

        NOTE: With the Javascript, inclusion order matters. The order,
        below, is (currently) the same as the that used by the Twitter
        Bootstrap Makefile, when it builds "bootstrap.js".
    -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />

    @Seq("transition", "alert", "button", "carousel", "collapse", "dropdown",
         "modal", "tooltip", "popover", "scrollspy", "tab", "typeahead",
         "affix").map {name =>
      <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-%s.min.js".format(name))"></script>
    }
    <!-- END Twitter Bootstrap integration -->

    <script src="@routes.Assets.at("javascripts/navbar.js")"></script>

    @additionalHead.map {html =>
      @html
    }
  </head>
  <body>
    <div class="container-fluid">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <a class="brand">
            <img src="@routes.Assets.at("images/logo.png")" id="logo-image"/>
            PasswordThing
          </a>
          <ul class="nav">
            @currentUser.map { user =>
              <li id="nav-home" class="active">
                <a href="@routes.Application.index()">
                  <i class="icon-home"></i>Home
                </a>
              </li>
              <li id="nav-show-all">
                <a href="@routes.Application.sites()">
                  <i class="icon-tasks"></i>Show All
                </a>
              </li>
              <li id="nav-new">
                <a href="@routes.Application.newSite()">
                  <i class="icon-file"></i>New
                </a>
              </li>

              @if(user.isAdmin) {
                <li>
                  <a href="@adminRoutes.Admin.index()">
                    <i class="icon-wrench"></i>Admin
                  </a>
                </li>
              }
              <li>
                <a href="@routes.Auth.logout()">
                  <i class="icon-off"></i>Sign out
                </a>
              </li>
            }
          </ul>
          @currentUser.map { user =>
            <div id="logged-in-as">
              <span class="prefix">Logged in as</span>
              <span class="username">@user.username</span>
            </div>
          }
        </div>
      </div>

      <div id="content">
        @Seq("info", "error").map {t =>
          @flash.data.get(t).map { message =>
            <div class="alert alert-@t">
              <a class="close" data-dismiss="alert">x</a>
              @message
            </div>
          }.getOrElse("")
        }
        <div class="row-fluid">
          @content
        </div>
      </div>
    </div>
  </body>
</html>
