@(title: String, additionalHead: Option[Html] = None, user: Option[User] = None)(content: Html)

@import play._
@import play.mvc._

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    @user.map { u =>
      @if(u.isAdmin) {
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.css")">
      }
    }
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">


    <!--
        Twitter Bootstrap integration. Adapted from
        https://github.com/playframework/Play20/wiki/Tips
    -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />

    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-affix.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-alert.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-button.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-carousel.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-collapse.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-dropdown.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-modal.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-popover.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-scrollspy.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-tab.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-tooltip.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-transition.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-typeahead.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/navbar.js")"></script>

    @additionalHead.map {html =>
      @html
    }
  </head>
  <body>
    <div class="container-fluid">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <a class="brand">
            <img src="@routes.Assets.at("images/logo.png")" id="logo-image"/>
            PasswordThing
          </a>
          <ul class="nav">
            @user.map { u =>
              <li id="nav-home" class="active">
                <a href="@routes.Application.index()">
                  <i class="icon-home"></i>Home
                </a>
              </li>
              <li id="nav-show-all">
                <a href="@routes.Application.sites()">
                  <i class="icon-tasks"></i>Show All
                </a>
              </li>
              <li id="nav-new">
                <a href="@routes.Application.newSite()">
                  <i class="icon-file"></i>New
                </a>
              </li>

              @if(u.isAdmin) {
                <li>
                  <a href="@routes.Admin.index()">
                    <i class="icon-wrench"></i>Admin
                  </a>
                </li>
              }
              <li>
                <a href="@routes.Auth.logout()">
                  <i class="icon-off"></i>Sign out
                </a>
              </li>
            }
          </ul>
          @user.map {u =>
            <div id="logged-in-as">
              <span class="prefix">Logged in as</span>
              <span class="username">@u.username</span>
            </div>
          }
        </div>
      </div>

      <div id="content">
        <div class="row-fluid">
          @content
        </div>
      </div>
    </div>
  </body>
</html>
