@(id: Long, siteName: Option[String], currentUser: User, editForm: Form[models.Site])(implicit flash: Flash)

@import tags._
@import helper._

@head = {
  @scriptAsset("javascripts/sites.min.js")
}

@main("Main", additionalHead = Some(head), currentUser = Some(currentUser)) {

  <div class="span12">
    @formErrors(editForm)
    @back(routes.Application.index(), "Back")

    <div id="edit-site-form" class="well">
      <div class="heading">
        @{ siteName.map(name => "Editing: " + name).getOrElse("Edit site") }
      </div>

      @BasicSiteForm(Some(id), editForm, routes.SiteController.update(id)) {

        <div id="buttons">
          <button class="btn btn-primary">Save</button>
       </div>

     }

    </div>
  </div>
}

  
