@(currentUser: User, totalSites: Option[Long] = None)(implicit flash: Flash)

@import tags._

@head = {
  @scriptAsset("javascripts/sites.min.js")
  @scriptAsset("javascripts/jquery.tokeninput.js")
  @stylesheetAsset("stylesheets/token-input.css")

}

@main("Main", additionalHead = Some(head), currentUser = Some(currentUser)) {
  <div id="home">

    @searchBox()

    <div class="span2">
      <div class="sidebar well">
        <img src="@routes.Assets.at("images/loading.gif")"
             id="loader" style="display:none">
        <header>Actions</header>
        <ul class="actions">
          <li>
            <a id="list-sites" href="javascript:void(0)"
               data-url="@routes.SiteController.list()">List all sites</a>
            @totalSites.map { count => <span>(@count)</span> }
          </li>
          <li>
            <a id="new-site" href="@routes.SiteController.makeNew()">New site</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="span7">
      <div id="main-panel">
      
      <!-- Site display -->
        <table id="sites"
               class="table table-hover table-bordered captioned-table"
               style="display:none">
          <caption>Your Sites and Passwords</caption>
          <thead>
            <tr>
              <th>Site Name</th>
              <th>User Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>Actions</th>
            </tr>
            <!--
              When handling the AJAX query for the list of users, the
              Javascript clones this element for each site, appending
              it to the table. This template must be here, rather than
              the <tbody>, because the <tbody> is cleared with every request.
            -->
            <tr id="site-template" style="display:none">
              <td class="field-value">
                <a class="site-name show-site-button action-button"
                   href="@routes.SiteController.showJSON(-1)"></a>
              </td>
              <td class="field-value site-username"></td>
              <td class="field-value site-email"></td>
              <td class="field-value site-password"></td>
              <td>
                <a class="edit-site-button action-button"
                   href="@routes.SiteController.edit(-1)"> 
                  <i class="icon-edit"></i>
                </a>
                <a class="delete-site-button action-button"
                   href="@routes.SiteController.delete(-1)">
                  <i class="icon-cut"></i>
                </a>
              </td>
            </tr>
          </thead>
          <tbody id="site-list"></tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal for showing a site -->
  <div id="show-site-modal" class="modal fade hide">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
              aria-hidden="true">&times;</button>
      <h3 class=".show-site-name"></h3>
    </div>
    <div class="modal-body">
      @ShowPartial(models.Site.Dummy)
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
    </div>
  </div>
}
