@(currentUser: User, site: Site)(implicit flash: Flash)

@import tags._

@head = {
  @scriptAsset("javascripts/sites.min.js")
  @scriptAsset("javascripts/jquery.tokeninput.js")
  @stylesheetAsset("stylesheets/token-input.css")
}

@main(site.name, additionalHead = Some(head), currentUser = Some(currentUser)) {
  <div class="span12">

    @searchBox()
    @back(routes.SiteController.index(), "Back")

    <div id="full-page-site-display" class="well">
      @ShowPartial(site)
    </div>

  </div>
}
